---
import { getCollection, type CollectionEntry } from "astro:content";

import "@/styles/base.css";
import BackArrow from "@/components/icons/BackArrow.astro";
import Dot from "@/components/icons/Dot.astro";
import Slash from "@/components/icons/Slash.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  // Get all entries from the "blog" collection and filter out drafts for production
  const posts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  });

  // Map the filtered posts to generate static paths
  const paths = posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));

  return paths;
}

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();

const { title, date, description } = entry.data;
---

<BaseLayout title={title + " | Mikko Jokipuu"} description={description}>
  <a
    href="/blog"
    class="py-6 flex items-center gap-x-0.5 text-sm text-neutral-800 hover:underline hover:decoration-2 sm:hidden"
    ><BackArrow />Back to blog</a
  >
  <nav
    class="hidden pt-12 pb-6 items-center gap-x-1 text-sm text-neutral-800 sm:flex"
  >
    <a href="/blog" class="hover:underline hover:decoration-2">Blog</a>
    <Slash />
    <a
      href={`/blog/${entry.slug}`}
      class="text-neutral-800 underline decoration-2 decoration-neutral-800"
      >{title}</a
    >
  </nav>
  <h1 class="pb-3 text-lg text-neutral-800 font-medium">{title}</h1>
  <section
    class="pb-3 flex items-center justify-between text-sm text-neutral-800 border-b border-neutral-800"
  >
    <div class="flex items-center gap-x-1">
      <time datetime={date.toISOString()}
        >{
          date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }</time
      >
      <Dot />
      {remarkPluginFrontmatter.minutesRead}
    </div>
    <a
      href="/blog"
      class="hidden items-center gap-x-0.5 hover:underline hover:decoration-2 sm:flex"
      ><BackArrow />Back to blog</a
    >
  </section>
  <article
    class="py-6 text-neutral-800 prose prose-neutral prose-invert prose-headings:text-neutral-800"
  >
    <Content />
  </article>
</BaseLayout>
